{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Asset Form</h1>
  <form method="post" action="{% url 'asset_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="{% url 'asset_list' %}" class="btn btn-secondary mt-3">Back to Asset List</a>
  {% if messages %}
    <div class="alert alert-info mt-3">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}
